.big-corps {
 //  @include borderTest;
 @include flex;
 justify-content: space-between;
 padding: 2em;
 @include tertiaryBGColor;
 margin-top: 2em;
 &__image-container {
  width: 11em;
  padding: 1em;
  & > img {
   width: 100%;
  }
 }
}
