$primaryColor: #ff5331;
$peachColor: #b77b28;
$secondaryColor: #545268;
$fontColor: #3d3d3d;

@mixin borderTest {
 border: 1px solid darkcyan;
}

@mixin flex {
 display: flex;
 display: -webkit-flex;
 align-items: center;
}

@mixin primaryColor {
 color: #ff5331;
}

@mixin secondaryColor {
 color: #545268;
}

@mixin tertiaryBGColor {
 background-color: #f7f7f7;
}

@mixin miniBorderline {
 display: inline-block;
 border-bottom: 1px solid rgb(173, 173, 173);
}

@mixin fontLato {
 font-family: 'Lato', sans-serif;
}

@mixin fontQuicksand {
 font-family: 'Quicksand', sans-serif;
}

@mixin fontKodchasan {
 font-family: 'Kodchasan', sans-serif;
}

@mixin cardShadow {
 box-shadow: 0px 8px 24px 1px silver;
 &:hover {
  box-shadow: 0px 8px 10px 1px silver;
 }
}

@mixin testimonialBtnBG {
 background-color: rgb(102, 102, 102);
}

@mixin transition($time) {
 transition: all $time ease-in-out;
}
