.hero-banner {
 @include flex;
 justify-content: center;
 height: 90vh;
 @include fontLato;
 //  font-family: 'Poppins', sans-serif;
 &_img-container {
  width: 40vw;
  height: 100%;
 }

 &_img-wrapper {
  width: 100%;
  min-width: 44em;
  & > img.hero-banner__hero-img {
   width: 100%;
  }
 }

 &-content {
  padding: 0 4em;
  margin-top: 10em;
  &__mini-borderline {
   width: 3em;
   @include miniBorderline;
  }

  &__header {
   padding: 0.2em 0;
   font-size: 4.8rem;
   font-weight: 300;
   line-height: 1em;
   &-highlighted {
    @include primaryColor;
    font-weight: 400;
   }
  }

  &_paragraph {
   width: 80%;
   //    font-family: 'Poppins', sans-serif;
   @include fontQuicksand;
  }

  &_price {
   font-size: 1.4rem;
   font-weight: bold;
   border-bottom: 1px solid rgb(165, 165, 165);
   width: 6em;
   display: inline-block;
   padding: 0.8em 0;
   @include fontLato;
  }

  &__product-category {
   @include flex;
   justify-content: space-between;
   padding: 1em;
   margin-top: 2em;
   width: 80%;
   &__content-header {
    font-size: 0.7rem;
   }
   &__content-text {
    @include primaryColor;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.4em 0;
   }
  }
 }
}
