.header {
 @media screen and (max-width: 1320px) {
  &-icon {
   right: 1%;
  }
 }

 @media screen and (max-width: 1000px) {
  //   .nav {
  //
  //   }

  .nav {
   //    display: none;
   position: absolute !important;
   background: #dfdeee;
   left: -100vw;
   width: 50%;
   height: 100vh;
   top: 0;
   transition: all 0.4s ease-in-out;
   ul > a {
    width: 80% !important;
    text-align: center;
    border-radius: 8px;
    &:hover {
     background-color: #635d9e;
     box-shadow: 0 2px 1px 1px rgba(134, 134, 134, 0.527);
     border-bottom: none !important;
     color: rgb(230, 227, 227);
    }
   }
  }

  .navlist {
   flex-direction: column;
   position: relative;
   top: 11%;
   font-size: 3vw;
  }

  .nav-mobile {
   display: inline-block;
  }

  div.logo {
   left: 6em;
  }
 }

 @media screen and (max-width: 680px) {
  &-icon {
   right: 4%;
   & > img {
    width: 1.8em;
    margin: 0 0.4em;
   }
  }
 }

 @media screen and (max-width: 480px) {
  &-icon {
   & > img {
    width: 1.7em;
    margin: 0 0.4em;
   }
  }

  & div.logo {
   left: 5em;
  }
 }
}

.hero-banner {
 @media screen and (max-width: 1128px) {
  &_img-wrapper {
   min-width: 60vw;
   top: 7em;
   position: relative;
   z-index: -1;
  }

  &-content {
   margin-top: -6vh;
  }
  &-content__header {
   font-size: 8vw;
  }
 }

 @media screen and (max-width: 960px) {
  &-content__product-category {
   width: 100%;

   &__content-text {
    font-size: 3vw;
   }
  }
 }
 @media screen and (max-width: 680px) {
  &-content_paragraph {
   width: 100%;
  }
  &_img-wrapper {
   top: 20vh;
  }
  &-content__product-category {
   position: absolute;
   left: 0;
   padding: 1em 2em;
  }
 }

 @media screen and (max-width: 480px) {
  &-content__product-category__content-header {
   font-size: 0.6rem;
  }
 }
}

.big-corps {
 height: 8em;
 padding: 1em 0.2vw;
 margin-top: 0;
 &__image-container {
  padding: 1.4vw;
 }
}

.authenticity {
 @media screen and (max-width: 1000px) {
  width: 100%;
  padding: 0 4vw;
 }
 @media screen and (max-width: 680px) {
  width: 100%;
  padding: 0 1vw;
  &-icons-container {
   width: 15vw;
  }
  //   @media screen and (max-width: 680px) {
  //   }
  &-icon-paragraph {
   font-size: 2.6vw;
  }
 }
 @media screen and (max-width: 480px) {
  &-icons-container {
   width: 4em;
  }

  &-icon {
   min-width: 3em;
  }

  &-text-container {
   padding: 0.2em;
  }

  div.primary__btn.authenticity#authenticity-btn {
   margin-top: 3em !important;
  }
 }
}

.arie-kombucha {
 @media screen and (max-width: 711px) {
  width: 100%;
  padding: 1em 2vw;
  margin: 2em auto;
 }
}

.product-showcase {
 @media screen and (max-width: 1100px) {
  &-vdo__play-btn {
   padding: 4vw;
  }
 }
 @media screen and (max-width: 1000px) {
  &-vdo {
   left: -5vw;
  }
  &-vdo,
  &-vdo-peach {
   top: 3em;
  }

  &-container {
   height: 70vh;
   margin: 6em 0;
  }

  span.product-showcase-vdo__text-peach {
   left: -10vw;
  }

  &-article {
   width: 42%;
  }
 }

 @media screen and (max-width: 800px) {
  &-article__img-container__bottom-decoration-peach {
   left: 32vw;
  }
 }
 @media screen and (max-width: 725px) {
  &-vdo,
  &-vdo-peach {
   width: 14em;

   &__text {
    right: 3em;
    top: -4em;
   }
   &__text-peach {
    left: -25vw !important;
    top: -4em;
   }
  }
 }

 @media screen and (max-width: 680px) {
  &-container {
   flex-direction: column;
   height: 133vh;
   margin: 4em 0;
  }

  &-article {
   width: 100%;

   &__paragraph {
    width: 90%;
   }

   &__img-container {
    width: 100%;

    &__top-decoration {
     right: -65vw;
     //  top: 8em;
     top: 4em;
     margin-right: 15vw;
    }
    &__top-decoration.peach {
     top: 4em;
    }
    &__bottom-decoration {
     bottom: 5em;
    }
    .product-showcase-article__img-container__bottom-decoration-peach {
     left: 64vw;
     bottom: 6em;
    }
   }
  }

  &-img-wrapper {
   width: 34%;
   position: relative;
   top: -5em;
  }
  &-vdo {
   left: 3vw;
   top: -3em;
  }
  &-vdo-peach {
   right: -64vw;
   top: -4em;
  }
  &-vdo__text-peach,
  &-vdo__text {
   font-size: 2.6vw;
   //    top: -5em;
  }
  &-vdo__text-peach {
   top: -4.5em;
  }
  div.primary__btn__product-showcase {
   margin: 0 auto;
  }

  article.product-showcase-article.peach {
   order: 1 !important;
  }
  aside.product-showcase-article__img-container.peach {
   order: 2 !important;
  }
 }

 @media screen and (max-width: 535px) {
  &-vdo-peach {
   right: -60vw;
  }
  &-vdo__text-peach {
   top: -5.4em;
  }
 }
 @media screen and (max-width: 450px) {
  &-vdo-peach {
   right: -50vw;
  }
 }
}

.popular {
 @media screen and (max-width: 780px) {
  &-header-content {
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }

  &-navigation-number {
   position: static;
   margin-top: 1em;
  }

  &-card {
   width: 70vw;
   min-width: 24em;
   padding: 2em;

   &-article {
    width: 15em;
    padding: 0;
    padding-right: 1em;
   }

   &-header {
    font-size: 1.4rem;
   }

   &-paragraph {
    padding: 1em 0;
   }
   &-img-container {
    width: 11vh;
   }
  }
 }
}

.chart {
 @media screen and (max-width: 1215px) {
  &-number {
   text-align: center;
  }
 }

 @media screen and (max-width: 880px) {
  &-wrapper {
   width: 100%;
  }
 }

 @media screen and (max-width: 680px) {
  padding: 2em 1em;

  &-wrapper {
   justify-content: space-evenly;
   flex-direction: column;
  }

  &-chart {
   width: 61vw;
   min-width: 14em;
   padding: 0;
  }
  &-number {
   margin: 1em;
  }
  &-chart > img {
   width: 100%;
   min-width: 7em;
   padding: 1em 0.4em;
  }
  &-number-number {
   font-size: 7vw !important;
  }

  &-paragraph {
   font-size: 3vw;
   line-height: 1.4em;
  }

  p.chart-paragraph:last-child {
   width: 7em;
  }
 }
}

.testimonial {
 @media screen and (max-width: 1428px) {
  &-cards_slide1 {
   padding: 0;
   margin: 0 1%;
  }
 }

 @media screen and (max-width: 1388px) {
  &-cards {
   width: 45vw;
   height: 22em;
   margin: 0 auto;
   position: relative;
   overflow-x: hidden;

   &_slide2 {
    transform: none;
    margin: 0;
    padding: 0;
   }
   @media screen and (max-width: 986px) {
    width: 56vw;
   }
   @media screen and (max-width: 680px) {
    width: 90vw;
   }
  }
  &-card {
   position: absolute;
   width: 41vw;
   box-shadow: 0px 8px 14px 1px silver;

   @media screen and (max-width: 986px) {
    margin: 0;
    width: 54vw;
   }
   @media screen and (max-width: 680px) {
    width: 88vw;
   }
   @media screen and (max-width: 480px) {
    margin-left: 0.4em;
   }
  }
  .chevron-container.testimonial-btns {
   position: relative;
   top: -28vh;
   @media screen and (max-width: 680px) {
    position: static;
   }
  }

  .fas.fa-chevron-right {
   right: 15vw;
   @media screen and (max-width: 990px) {
    right: 7%;
   }
   @media screen and (max-width: 680px) {
    position: relative !important;
    margin: 0 10vw;
   }
  }
  .fas.fa-chevron-left {
   left: 15vw;
   @media screen and (max-width: 990px) {
    left: 7%;
   }
   @media screen and (max-width: 680px) {
    position: relative !important;
    margin: 0 10vw;
   }
  }
  i.fas.fa-chevron-right,
  i.fas.fa-chevron-left {
   @include testimonialBtnBG;

   position: absolute;
  }
 }

 @media screen and (max-width: 500px) {
  padding: 0;

  &-cards {
   padding: 0;
  }

  &-card {
   width: 86vw;
   border-radius: 0.4em;
   &-quote-img__wrapper > img {
    top: 6em;
   }
  }
 }

 @media screen and (max-width: 390px) {
  &-card {
   padding: 0.6em;

   &-paragraph {
    font-size: 4vw;
    text-align: center;
    padding: 0 0.6em;
   }
  }
 }
}

.footer {
 @media screen and (max-width: 880px) {
  padding: 2em 1em;

  &-right-container {
   width: 100%;
  }
 }

 @media screen and (max-width: 680px) {
  flex-direction: column;

  &-left {
   margin-top: 2em;
   order: 2;
   width: 100%;
   padding: 1em 3em;
   &-content {
    width: 100%;
   }
   &-paragraph {
    font-size: 2.8vw;
   }
   &-social-media {
    width: 27%;
   }
  }

  &-right {
   width: 100%;

   &-container {
    justify-content: space-around;
   }
  }
 }

 @media screen and (max-width: 480px) {
  &-left {
   padding: 1em 1em;
   &-social-media {
    width: 44%;
   }
   &-paragraph {
    font-size: 3.6vw;
   }
  }

  &-right {
   font-size: 3vw;
  }

  &-copyright {
   font-size: 3vw;
  }
 }
}
