.header {
 //  @include borderTest;
 @include flex;
 justify-content: center;
 padding: 1em 1em;
 height: 8vh;
 div.logo {
  //   @include borderTest;
  position: absolute;
  left: 2em;
  > span.logo-text {
   font-size: 1.2rem;
   font-weight: bold;
  }
 }

 .nav {
  //   @include borderTest;
  width: 30em;

  .navlist {
   //    @include borderTest;
   @include flex;
   justify-content: space-around;
   font-weight: 400;
  }
 }

 &-icon {
  //   @include borderTest;
  @include flex;
  justify-content: space-between;
  width: 10em;
  position: absolute;
  right: 4em;

  & > img {
   width: 2em;
  }
 }
}
