.product-showcase {
 padding: 0 4vw;
 &-container {
  height: 100vh;
  @include flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3vw;
  margin: 3em 0;
 }

 &-article {
  width: 33%;
  line-height: 1.6em;
  height: 30em;

  &__img-container {
   width: 50%;
   //    padding: 7em 2em;

   &__top-decoration {
    width: 6em;
    display: inline-block;
    height: 8em;
    position: relative;
    top: 13em;
    right: -31vw;
    border-top: 2px solid $primaryColor;
    border-right: 2px solid $primaryColor;
   }

   &__top-decoration.peach {
    top: 13em;
    left: 0vw;
    border-top: 2px solid $peachColor;
    border-left: 2px solid $peachColor;
    border-right: none;
   }
   &__top-decoration.blackberry {
    border-top: 2px solid $secondaryColor;
    border-right: 2px solid $secondaryColor;
   }

   &__bottom-decoration,
   &__bottom-decoration-peach {
    width: 6em;
    display: inline-block;
    height: 8em;
    position: relative;
   }
   &__bottom-decoration {
    bottom: 4em;
    border-bottom: 2px solid $primaryColor;
    border-left: 2px solid $primaryColor;
   }
   &__bottom-decoration-peach {
    border-bottom: 2px solid $peachColor;
    border-right: 2px solid $peachColor;
    border-left: none;
    right: -35vw;
   }

   &__bottom-decoration.blackberry {
    border-bottom: 2px solid $secondaryColor;
    border-left: 2px solid $secondaryColor;
   }
  }
  &.peach {
   order: 2;
  }
  &__img-container.peach {
   order: 1;
  }

  &__mini-header {
   @include primaryColor;
   font-weight: 600;
   letter-spacing: 1px;
   margin-bottom: 1em;
  }

  &__header {
   padding: 0.2em 0 0.8em 0;
   line-height: 1.3em;
  }

  &__paragraph {
   margin-bottom: 3em;
  }
 }

 &-img-wrapper {
  width: 16vw;
  margin: 0 auto;
  @include transition(1s);
  cursor: pointer;
  &:hover {
   transform: scale(1.2);
  }
 }
 &-article__img {
  width: 100%;
 }

 &-vdo,
 &-vdo-peach {
  width: 8em;
  height: 8em;
  text-align: center;
  position: relative;
  top: 4em;

  &-peach {
   right: -28vw;
  }
  &__play-btn {
   padding: 3em;
   //    top: -0.5em;
   //    position: relative;
   border: 1px dashed $primaryColor;
   border-radius: 50%;
   cursor: pointer;
   @include transition(0.2s);
   &:hover {
    animation: rotateRight 13s ease-in-out;
    border-width: 3px;
    .product-showcase-vdo__text {
     display: none;
    }
   }
  }

  &__text,
  &__text-peach {
   position: relative;
   right: -6em;
   top: -5em;
   font-weight: 600;
   @include primaryColor;
  }
 }
}

//all animation for this section

@keyframes rotateRight {
 from {
  transform: rotate(0deg);
 }
 to {
  transform: rotate(360deg);
 }
}

@keyframes rotateNone {
 from {
  transform: rotate(0deg);
 }
 to {
  transform: rotate(-360deg);
 }
}
