@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Poppins:wght@300;400;500&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kodchasan&display=swap');
@import './helper';
@import './base';
@import './navbar';
@import './heroBanner';
@import './bigCorp';
@import './authenticity';
@import './arieKombucha';
@import './productShowcase';
@import './popular';
@import './chart';
@import './testimonial';
@import './footer';
@import './mediaQuery';
